.navbar {
  width: 100vw;
  height: 50px;
  background-color: blue;
  position: fixed;
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
}

.navbar li :hover {
  text-decoration: underline;
}
