.container {
  position: absolute;
  left: 40vw;
  width: 60vw;
  height: 100vh;
  padding: 0 100px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.488);
}
.containerFilter {
  position: fixed;
  left: 40vw;
  width: 60vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.468);
  /* border-left: 1px solid rgb(165, 165, 165); */
  /* z-index: 8; */
}

.blur {
  filter: blur(4px);
}

.main {
  /* padding: 5rem 0; */

  /* background-color: white; */

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  text-align: center;
}

.image {
  /* width: 40vw; */
  /* height: 24vw; */
  transform: scaleX(-1);
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-image: url("/cover-optimized.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  /* border-radius: 10%; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  /* text-align: center; */
}

.description {
  /* margin-top: 10px; */
  line-height: 1.5;
  font-size: 1.3rem;
  z-index: 1;
}

@media (max-width: 800px) {
  .image {
    /* display: none; */
    background-size: cover;
    background-position: 70% 50%;
    background-image: url("/cover-mobile.jpeg");
  }
  .container {
    display: block;
    width: 100vw;
    position: static;
    padding: 0 20px;
  }
  .containerFilter {
    left: 0;
    width: 100vw;
  }
}
